{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock %}
{% block info %}
<link rel="stylesheet" href="{% static 'athletes/css/styles.css'%}">
<div class="container" align="center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Введите ваш E-mail для сброса пароля</legend>
            {% for i in form %}
            <p>
                <label class="form-text" for="{{ i.id_for_label }}">
                    {{i.label}}:
                </label>
                {{ i }}
            </p>
            <div class="form-error">{{i.errors}}</div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Отправить E-mail</button>
        </div>
    </form>
</div>
{% endblock %}
{% block sidebar %}
<div id="space" style="height:400px;"></div>
{% endblock %}
