
{% extends "base.html" %}
{% load static %}
{% block info %}
<link rel="stylesheet" href="{% static 'athletes/css/styles.css'%}">
{% if validlink %}
<div class="container" align="center">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Придумайте новый пароль</legend>
            {% for i in form %}
            <p>
                <label class="form-text" for="{{ i.id_for_label }}">
                    {{i.label}}:
                </label>
                {{ i }}
            </p>
            <div class="form-error">{{i.errors}}</div>
            {% endfor %}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-dark" type="submit">Создать новый пароль</button>
        </div>
    </form>
</div>
{% else %}
<p>Невозможно. Пожалуйста, повторите попытку сброса пароля.</p>
{% endif %}
{% endblock %}
{% block sidebar %}
<div id="space" style="height:350px;"></div>
{% endblock %}